/* Big Scale and Fade (normal 0.3s) */
.scale-and-fade-big-enter-active {
  transition: opacity 0.3s, transform 0.3s;
}
.scale-and-fade-big-enter-from {
  opacity: 0;
  transform: scale(0.1);
}
.scale-and-fade-big-enter-to {
  opacity: 1;
  transform: scale(1);
}
.scale-and-fade-big-leave-active {
  transition: opacity 0.3s, transform 0.3s;
}
.scale-and-fade-big-leave-from {
  opacity: 1;
  transform: scale(1);
}
.scale-and-fade-big-leave-to {
  opacity: 0;
  transform: scale(0.1);
}


/* Scale and Fade (fast 0.3s) */
.scale-and-fade-fast-enter-active {
  transition: opacity 0.5s, transform 0.5s;
}
.scale-and-fade-fast-enter-from {
  opacity: 0;
  transform: scale(0.95);
}
.scale-and-fade-fast-enter-to {
  opacity: 1;
  transform: scale(1);
}
.scale-and-fade-fast-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
.scale-and-fade-fast-leave-from {
  opacity: 1;
  transform: scale(1);
}
.scale-and-fade-fast-leave-to {
  opacity: 0;
  transform: scale(0.95);
}


/* Fade (normal 0.3s) */
.fade-enter-active {
  transition: opacity 0.3s;
}
.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}


/* Scale and Fade (slow 0.7) */

.scale-and-fade-slow-enter-active {
  transition: opacity 0.7s, transform 0.7s;
}
.scale-and-fade-slow-enter-from {
  opacity: 0;
  transform: scale(0.95);
}
.scale-and-fade-slow-enter-to {
  opacity: 1;
  transform: scale(1);
}
.scale-and-fade-slow-leave-active {
  transition: opacity 0.7s, transform 0.7s;
}
.scale-and-fade-slow-leave-from {
  opacity: 1;
  transform: scale(1);
}
.scale-and-fade-slow-leave-to {
  opacity: 0;
  transform: scale(0.95);
}



/* Slide Down */
.slide-left-enter-active, .slide-left-leave-active {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  overflow: hidden;
}

.slide-left-enter-from, .slide-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-left-enter-to, .slide-left-leave-from {
  transform: translateX(0);
  opacity: 1;
}

@keyframes star-pulse {
  0% { transform: scale(1.5); opacity: 0.9; }
  50% { transform: scale(1); opacity: 0.1; }
  100% { transform: scale(1.5); opacity: 0.9; }
}   


/* Scale In  */
@keyframes scale-in-small {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-big {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
  
}

.animate-scale-in-small {
  animation: scale-in-small 0.5s ease-out forwards;
}

.animate-scale-in-big {
  animation: scale-in-big 0.5s ease-out forwards;
}


