@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration-line: none;
  
}

body {
  background-color: #0F0F20;
  overflow-x: hidden;
}


html {
  font-size: 100%;
  overflow-x: hidden;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid white;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.no-scroll {
  overflow: hidden; /* Nasconde lo scorrimento verticale */
}


/* TRANSITIONS CSS START */

  /* Scale and Fade (fast 0.3s) */
  .scale-and-fade-fast-enter-active {
    transition: opacity 0.5s, transform 0.5s;
  }
  .scale-and-fade-fast-enter-from {
    opacity: 0;
    transform: scale(0.95);
  }
  .scale-and-fade-fast-enter-to {
    opacity: 1;
    transform: scale(1);
  }
  .scale-and-fade-fast-leave-active {
    transition: opacity 0.5s, transform 0.5s;
  }
  .scale-and-fade-fast-leave-from {
    opacity: 1;
    transform: scale(1);
  }
  .scale-and-fade-fast-leave-to {
    opacity: 0;
    transform: scale(0.95);
  }


/* Fade (normal 0.3s) */
  .fade-enter-active {
    transition: opacity 0.3s;
  }
  .fade-enter-from {
    opacity: 0;
  }
  .fade-enter-to {
    opacity: 1;
  }
  .fade-leave-active {
    transition: opacity 0.3s;
  }
  .fade-leave-from {
    opacity: 1;
  }
  .fade-leave-to {
    opacity: 0;
  }


  /* Scale and Fade (slow 0.7) */

  .scale-and-fade-slow-enter-active {
    transition: opacity 0.7s, transform 0.7s;
  }
  .scale-and-fade-slow-enter-from {
    opacity: 0;
    transform: scale(0.95);
  }
  .scale-and-fade-slow-enter-to {
    opacity: 1;
    transform: scale(1);
  }
  .scale-and-fade-slow-leave-active {
    transition: opacity 0.7s, transform 0.7s;
  }
  .scale-and-fade-slow-leave-from {
    opacity: 1;
    transform: scale(1);
  }
  .scale-and-fade-slow-leave-to {
    opacity: 0;
    transform: scale(0.95);
  }

  /* Shutter */
  .shutter-enter-active {
    transition: transform 0.5s ease-out;
  }
  .shutter-enter-from {
    transform: translateY(100%);
  }
  .shutter-enter-to {
    transform: translateY(0);
  }
  .shutter-leave-active {
    transition: transform 0.5s ease-in;
  }
  .shutter-leave-from {
    transform: translateY(0);
  }
  .shutter-leave-to {
    transform: translateY(-100%);
  }

  /* Stretch */
  .stretch-enter-active {
    transition: transform 0.5s ease-out;
  }
  .stretch-enter-from {
    transform: scale(0);
  }
  .stretch-enter-to {
    transform: scale(1);
  }
  .stretch-leave-active {
    transition: transform 0.5s ease-in;
  }
  .stretch-leave-from {
    transform: scale(1);
  }
  .stretch-leave-to {
    transform: scale(0);
  }

  /* Stretch fast */
  .stretch-fast-enter-active {
    transition: transform 0.3s ease-out;
  }
  .stretch-fast-enter-from {
    transform: scale(0);
  }
  .stretch-fast-enter-to {
    transform: scale(1);
  }
  .stretch-fast-leave-active {
    transition: transform 0.3s ease-in;
  }
  .stretch-fast-leave-from {
    transform: scale(1);
  }
  .stretch-fast-leave-to {
    transform: scale(0);
  }
  

  /* Slide Down */
  .slide-left-enter-active, .slide-left-leave-active {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
  }
  
  .slide-left-enter-from, .slide-left-leave-to {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  .slide-left-enter-to, .slide-left-leave-from {
    transform: translateX(0);
    opacity: 1;
  }

/* TRANSITIONS CSS END */

/* ANIMATION CSS START */

@keyframes star-pulse {
  0% { transform: scale(1.5); opacity: 0.9; }
  50% { transform: scale(1); opacity: 0.1; }
  100% { transform: scale(1.5); opacity: 0.9; }
}
/* ANIMATION CSS END */               